<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>White</th>
      <th>Black</th>
      <th>Handicap</th>
      <th>Komi</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
{{#each model as |game|}}
    <tr>
      <td>{{#link-to 'game' game.id}}{{date-iso game.date}}{{/link-to}}</td>
      <td>{{#link-to 'player' game.white.id}}{{upper-case game.white.namelast}} {{game.white.namefirst}}{{/link-to}}</td>
      <td>{{#link-to 'player' game.black.id}}{{upper-case game.black.namelast}} {{game.black.namelast}}{{/link-to}}</td>
      <td>{{game.handicap}}</td>
      <td>{{game.komi}}</td>
      <td>{{game.resultString}}</td>
    </tr>
{{/each}}
  </tbody>
</table>
