<h1>Players</h1>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
{{#each sortedPlayers as |player|}}
    <tr>
      <td>{{#link-to 'player' player.id}}{{upper-case player.namelast}} {{player.namefirst}} {{/link-to}}</td>
    </tr>
{{/each}}
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Player</h3>
  </div>
  <div class="panel-body">
    <label>FAMILY NAME {{input name="newLastName" value=newNameLast placeholder="Last Name" classNames='form-control'}}</label>
    <label>First Name {{input name="newFirstName" value=newNameFirst placeholder="First Name" classNames='form-control'}}</label>
    <button class="btn btn-sm btn-success" type="button" {{action "addNewPlayer" newNameLast newNameFirst }}>Add Player</button>
  {{#each this.errors.global as |error|}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  </div>
</div>



